@mixin phoneBreakpoint {
  @media (max-width: $phone-width) {
    @content;
  }
}

@mixin tabletBreakpoint {
  @media (max-width: $tablet-min-width) {
    @content;
  }
}

@mixin noteBookBreakpoint {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktopBreakpoint {
  @media (min-width: $laptop-width) {
    @content;
  }
}

@mixin response-col($index) {
  @if $index <= 6 {
    flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
  } @else {
    flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px);
  }
}
