$green: #73c8a9;
$light-green: #24fe41;
$dark-green: #649713;
$blue: #0072ff;
$light-blue: #b6fbff;
$yellow: #fdfc47;
$black: #000505;
$white: #fbfffe;

$phone-width: 576px; // iphone SE landspace
$tablet-min-width: 768px; // ipad portait
$tablet-max-width: 1024px; // ipad landspace
$laptop-width: 1200px; // laptop and more
